* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.title {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.img-code {
  height: 800px;
 max-width: 2600px;
 width: 100%;
}

.main__container {
  font-size: 2rem;
  color: red;
}

.main {
  height: 1400px;
}

.main__button {
  margin-left: 1100px;
  background-color: rgb(255, 139, 139);
  color: red;
  font-size: 40px;
 padding: 10px;
 border-radius: 8px;
 border: none;
 cursor: pointer;
}

.button__back {
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  background-color: #ff0000;
  font-size: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button__gamecard {
  margin: 1.25rem;
  background-color: #221e1d;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/Snake.jpeg');;
  color: red;
  margin-left: 880px;
  height: 800px;
  width: 600px;
 border-radius: 8px;
 border: none;
}
.button__gamecard h1 {
  background-color: transparent;
  color: red;
}

.button__gamecard:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.main__Page {
  font-size: 75px;
  margin: 50px;
  color: red;
  display: grid;
  align-items: center;
  justify-content: center;
}

.main__Page h1 {
  margin: 100px;
}

.main__Page h2 {
  margin: 100px;
}

.main__Page h3 {
  margin: 100px;
}

.main__Page h4 {
  margin: 100px;
}

.main__Page h5 {
  margin: 100px;
}

.main__Page h6 {
  margin: 100px;
}